In [1]:
# L5, S38

import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('DataScience-Python3/ml-100k/u.data', sep='\t',
                     names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('DataScience-Python3/ml-100k/u.item', sep='|',
                     names=m_cols, usecols=range(2), encoding="ISO-8859-1")

# TODO: Use this in my recommender? Will combine anime + ratings
ratings = pd.merge(movies, ratings)
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [3]:
# TODO: Also seems useful for calculating similarities
movieRatings = ratings.pivot_table(index=['user_id'], columns='title', values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
starWarsRatings = movieRatings['Star Wars (1977)']
starWarsRatings.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [8]:
similarMovies = movieRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

/home/altock/anaconda3/envs/py35/lib/python3.5/site-packages/numpy/lib/function_base.py:2487: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)
/home/altock/anaconda3/envs/py35/lib/python3.5/site-packages/numpy/lib/function_base.py:2496: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

                                            0
title
'Til There Was You (1997)            0.872872
1-900 (1994)                        -0.645497
101 Dalmatians (1996)                0.211132
12 Angry Men (1957)                  0.184289
187 (1997)                           0.027398
2 Days in the Valley (1996)          0.066654
20,000 Leagues Under the Sea (1954)  0.289768
2001: A Space Odyssey (1968)         0.230884
39 Steps, The (1935)                 0.106453
8 1/2 (1963)                        -0.142977

In [9]:
similarMovies.order(ascending=False)

/home/altock/anaconda3/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

title
No Escape (1994)                                                                     1.000000
Man of the Year (1995)                                                               1.000000
Hollow Reed (1996)                                                                   1.000000
Commandments (1997)                                                                  1.000000
Cosi (1996)                                                                          1.000000
Stripes (1981)                                                                       1.000000
Golden Earrings (1947)                                                               1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Scarlet Letter, The (1926)                                                           1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Full Speed (1996)                                                                    1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
Star Wars (1977)                                                                     1.000000
Ed's Next Move (1996)                                                                1.000000
Twisted (1996)                                                                       1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Guantanamera (1994)                                                                  0.866025
                                                                                       ...
Pushing Hands (1992)                                                                -1.000000
Lamerica (1994)                                                                     -1.000000
Year of the Horse (1997)                                                            -1.000000
Collectionneuse, La (1967)                                                          -1.000000
Dream Man (1995)                                                                    -1.000000
S.F.W. (1994)                                                                       -1.000000
Nightwatch (1997)                                                                   -1.000000
Squeeze (1996)                                                                      -1.000000
Glass Shield, The (1994)                                                            -1.000000
Slingshot, The (1993)                                                               -1.000000
Lover's Knot (1996)                                                                 -1.000000
Tough and Deadly (1995)                                                             -1.000000
Sliding Doors (1998)                                                                -1.000000
Show, The (1995)                                                                    -1.000000
Nil By Mouth (1997)                                                                 -1.000000
Fall (1997)                                                                         -1.000000
Sudden Manhattan (1996)                                                             -1.000000
Salut cousin! (1996)                                                                -1.000000
Neon Bible, The (1995)                                                              -1.000000
Crossfire (1947)                                                                    -1.000000
Love and Death on Long Island (1997)                                                -1.000000
For Ever Mozart (1996)                                                              -1.000000
Swept from the Sea (1997)                                                           -1.000000
Fille seule, La (A Single Girl) (1995)                                              -1.000000
American Dream (1990)                                                               -1.000000
Theodore Rex (1995)                                                                 -1.000000
I Like It Like That (1994)                                                          -1.000000
Two Deaths (1995)                                                                   -1.000000
Roseanna's Grave (For Roseanna) (1997)                                              -1.000000
Frankie Starlight (1995)                                                            -1.000000
dtype: float64

In [10]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [23]:
popularMovies = movieStats['rating']['size'] >= 40
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                                   rating
                                                     size      mean
title
Close Shave, A (1995)                                 112  4.491071
Schindler's List (1993)                               298  4.466443
Wrong Trousers, The (1993)                            118  4.466102
Casablanca (1942)                                     243  4.456790
Wallace & Gromit: The Best of Aardman Animation...     67  4.447761
Shawshank Redemption, The (1994)                      283  4.445230
Rear Window (1954)                                    209  4.387560
Usual Suspects, The (1995)                            267  4.385768
Star Wars (1977)                                      584  4.359589
12 Angry Men (1957)                                   125  4.344000
Third Man, The (1949)                                  72  4.333333
Citizen Kane (1941)                                   198  4.292929
Some Folks Call It a Sling Blade (1993)                41  4.292683
To Kill a Mockingbird (1962)                          219  4.292237
One Flew Over the Cuckoo's Nest (1975)                264  4.291667

In [24]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

/home/altock/anaconda3/envs/py35/lib/python3.5/site-packages/pandas/tools/merge.py:536: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [25]:
df.head()

,"(rating, size)","(rating, mean)",similarity
title,,,
101 Dalmatians (1996),109,2.908257,0.211132
12 Angry Men (1957),125,4.344000,0.184289
187 (1997),41,3.024390,0.027398
2 Days in the Valley (1996),93,3.225806,0.066654
"20,000 Leagues Under the Sea (1954)",72,3.500000,0.289768

In [26]:
df.sort_values(['similarity'], ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
Star Wars (1977),584,4.359589,1.000000
"Empire Strikes Back, The (1980)",368,4.206522,0.748353
Return of the Jedi (1983),507,4.007890,0.672556
Raiders of the Lost Ark (1981),420,4.252381,0.536117
When We Were Kings (1996),44,4.045455,0.515164
Some Folks Call It a Sling Blade (1993),41,4.292683,0.509016
Giant (1956),51,3.745098,0.488093
"Life Less Ordinary, A (1997)",53,3.075472,0.411638
It Could Happen to You (1994),46,3.652174,0.403612
Waiting for Guffman (1996),47,4.127660,0.378246
Austin Powers: International Man of Mystery (1997),130,3.246154,0.377433
Love Jones (1997),42,3.095238,0.376746
Beverly Hills Ninja (1997),48,2.312500,0.372451
"Sting, The (1973)",241,4.058091,0.367538
Joe's Apartment (1996),45,2.244444,0.355607

In [27]:
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# L5, S40
userRatings = movieRatings

In [29]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [34]:
corrMatrix = corrMatrix.corr(method='pearson', min_periods=100)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.000000,-0.225178,-0.083122,-0.001783,0.007810,0.016478,-0.045689,-0.106936,NaN,-0.050076,...,NaN,-0.126438,NaN,0.025007,0.235476,0.200514,-0.171901,-0.073863,0.169189,NaN
1-900 (1994),-0.225178,1.000000,-0.117646,0.307351,0.116903,0.183626,0.150794,-0.108262,NaN,0.034537,...,NaN,0.137152,NaN,-0.327217,-0.426902,-0.305907,0.110891,NaN,-0.182892,NaN
101 Dalmatians (1996),-0.083122,-0.117646,1.000000,-0.080720,-0.001623,-0.107862,0.133264,-0.215460,NaN,-0.061033,...,NaN,-0.033482,NaN,-0.026113,0.031005,0.123690,-0.002398,0.268281,0.090060,NaN
12 Angry Men (1957),-0.001783,0.307351,-0.080720,1.000000,0.061435,0.174111,0.318366,-0.038083,NaN,0.232662,...,NaN,-0.037358,NaN,-0.310915,-0.175203,-0.198362,0.067270,0.021777,-0.006793,NaN
187 (1997),0.007810,0.116903,-0.001623,0.061435,1.000000,0.176649,0.017449,-0.077263,NaN,0.000854,...,NaN,0.316110,NaN,0.013541,0.022529,0.021274,0.094839,-0.120914,0.150086,NaN

In [35]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [36]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
#Glance at our results so far:
print("sorting...")
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates.head(10)

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting...

Empire Strikes Back, The (1980)    5.000000
Star Wars (1977)                   5.000000
Star Wars (1977)                   3.826474
Empire Strikes Back, The (1980)    3.826474
Return of the Jedi (1983)          3.807545
Return of the Jedi (1983)          3.404667
Raiders of the Lost Ark (1981)     3.302913
Back to the Future (1985)          3.245897
Back to the Future (1985)          3.236432
Raiders of the Lost Ark (1981)     3.227294
dtype: float64

In [37]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [39]:
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates.head(10)

Empire Strikes Back, The (1980)      9.041985
Star Wars (1977)                     9.030547
Return of the Jedi (1983)            7.353962
Raiders of the Lost Ark (1981)       6.791547
Back to the Future (1985)            6.756945
Usual Suspects, The (1995)           5.418716
Jaws (1975)                          5.317281
E.T. the Extra-Terrestrial (1982)    5.240905
Shawshank Redemption, The (1994)     5.125241
Batman (1989)                        4.923013
dtype: float64

In [42]:
simCandidates = simCandidates.drop(myRatings.index)
simCandidates.head(10)

Return of the Jedi (1983)                    7.353962
Raiders of the Lost Ark (1981)               6.791547
Back to the Future (1985)                    6.756945
Usual Suspects, The (1995)                   5.418716
Jaws (1975)                                  5.317281
E.T. the Extra-Terrestrial (1982)            5.240905
Shawshank Redemption, The (1994)             5.125241
Batman (1989)                                4.923013
Field of Dreams (1989)                       4.832605
Indiana Jones and the Last Crusade (1989)    4.719969
dtype: float64

Can you improve on these results? Perhaps a different method or min_periods value on the correlation computation would produce more interesting results.

Also, it looks like some movies similar to Gone with the Wind - which I hated - made it through to the final list of recommendations. Perhaps movies similar to ones the user rated poorly should actually be penalized, instead of just scaled down?

There are also probably some outliers in the user rating data set - some users may have rated a huge amount of movies and have a disporportionate effect on the results. Go back to earlier lectures to learn how to identify these outliers, and see if removing them improves things.

For an even bigger project: we're evaluating the result qualitatively here, but we could actually apply train/test and measure our ability to predict user ratings for movies they've already watched. Whether that's actually a measure of a "good" recommendation is debatable, though!